<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Splitting</title>
</head>
<body>
    <h1>Expenses  Splitting</h1>
    <h3>Apple</h3>
    <p>Price: $50.00</p>
    <p>Quantity: 1</p>
    <br>
    <h3>Bread</h3>
    <p>Price: $20.00</p>
    <p>Quantity: 2</p>

    <form action="/checkout" method="post">
        <input type="submit" value="Proceed to Checkout">
    </form>
</body>
</html>